<a href="https://colab.research.google.com/github/GlobalKome/Python-programming-quiz/blob/main/Regression_in_machine_learning_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#loading necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
energy_data = pd.read_csv('/content/drive/MyDrive/energydata_complete.csv')
energy_data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [9]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [16]:
x = energy_data['T2'].values.reshape(-1, 1)
y = energy_data['T6'].values.reshape(-1, 1)

model = LinearRegression()

model.fit(x, y)

y_pred = model.predict(x)

r2 = r2_score(y, y_pred)

round(r2,2)

0.64

In [33]:
# Remove the specified columns
columns_to_remove = ["date", "lights"]
data = energy_data.drop(columns=columns_to_remove)

# Separate the feature (X) and target variable (y)
X = data.drop(columns=["Appliances"])
y = data["Appliances"]

# Normalize the feature data using MinMaxScaler
scaler = MinMaxScaler()
X_scaled = scaler.fit_transform(X)

# Perform train-test split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42)

# Create a Linear Regression model
model = LinearRegression()

# Fit the model to the training data
model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

# Calculate the Mean Absolute Error (MAE)
mae = mean_absolute_error(y_test, y_pred)

round(mae, 2)

53.64

In [29]:
rss = mean_squared_error(y_test, y_pred) * len(y_test)
round(rss, 2)

51918501.21

In [39]:
import math
mse = mean_squared_error(y_test, y_pred)
rmse = math.sqrt(mse)
round(rmse, 3)

93.661

In [35]:
r2 = r2_score(y_test, y_pred)
round(r2, 2)

0.15

In [36]:
feature_weights = pd.Series(model.coef_, index=X.columns).sort_values()
feature_weights

RH_2          -488.666805
T_out         -344.389845
T2            -252.710373
T9            -203.236627
RH_8          -168.627161
RH_out         -83.107599
RH_7           -47.736592
RH_9           -42.586339
T5             -16.752822
T1              -3.510725
rv1              0.824005
rv2              0.824005
Press_mm_hg      7.318079
T7              11.041091
Visibility      13.168072
RH_5            17.126194
RH_4            28.232781
T4              31.009668
Windspeed       31.225948
RH_6            40.712058
RH_3           102.771652
T8             109.134698
Tdewpoint      126.000776
T6             252.974652
T3             310.971037
RH_1           592.294862
dtype: float64

In [40]:
#create and fit the ridge model
model = Ridge(alpha=0.4)
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

rmse = mean_squared_error(y_test, y_pred, squared=False)
round(rmse, 3)

93.661

In [41]:
# Create and fit the Lasso regression model
model = Lasso(alpha=0.001)
model.fit(X_train, y_train)

# Get the feature weights
feature_weights = pd.Series(model.coef_, index=X.columns)

# Count the number of features with non-zero weights
non_zero_features = sum(feature_weights != 0)
non_zero_features

25

In [43]:
rmse3 = mean_squared_error(y_test, y_pred, squared=False)
round(rmse3, 3)

93.661